body {
    font-family: 'Roboto', sans-serif;
    background-color: #fadce4;
    margin: 0;
    padding: 0;
    overflow: auto;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0 340px; */
}

/* @media (max-width: 1170px) {
    main {
        width: 100%;
    }
} */

@media (max-width: 768px) {
    main {
        padding: 0;
    }
}

.header {
    margin: 70px 0;
    align-items: center;
    display: flex;
    width: 1170px;
    height: 439px;
    box-sizing: border-box;

    border-radius: 20px;
    border: 14px solid #FBE3E9;
    background: linear-gradient(90deg, #6A9CFD 0%, #E2B9DB 100%);
    box-shadow: 10px 12px 28px -6px rgba(83, 76, 153, 0.25);
}

@media (max-width: 1170px) {
    .header {
        width: 100%;
        height: 45vw;
    }
}

@media (max-width: 768px) {
    .header {
        margin: 70px 0;
    }
}

@media (max-width: 576px) {
    .header {
        position: relative;
        border: none;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        height: 430px;
    }
}

.title {
    display: flex;
    color: #ffffff;
    padding-left: 100px;
    width: 50%;
    display: inline-block;
}

@media (max-width: 768px) {
    .title {
        padding-left: 0;
        width: 50%;
    }
}

@media (max-width: 576px) {
    .title {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-right: 15px;
        padding-left: 45%;
        z-index: 5;
        height: 100%;
        order: 2;
    }
}

/* h3 {
    font-size: 1vw;
} */

@media (max-width: 1170px) {
    h3 {
        font-size: 1.5vw;
    }
}

@media (max-width: 768px) {
    h3 {
        text-align: right;
        font-size: 2vw;
    }
}

@media (max-width: 576px) {
    h3 {
        font-size: 2vw;
    }
}

@media (max-width: 576px) {
    .det {
        font-size: 4vw;
        white-space: nowrap;
    }
}

/* h1 {
    font-size: 2vw;
} */

@media (max-width: 1170px) {
    h1 {
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    h1 {
        text-align: right;
        font-size: 3vw;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 4vw;
    }
}

@media (max-width: 576px) {
    .comp {
        font-size: 6vw;
    }
}

@media (max-width: 576px) {
    .ped {
        font-size: 4vw;
    }
}

@media (max-width: 576px) {
    .elm {
        font-size: 5vw;
        white-space: nowrap;
    }
}

.Elmira {
    width: 550px;
    padding-right: 20px;

}

@media (max-width: 1170px) {
    .Elmira {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .Elmira {
        width: 55%;
    }
}

@media (max-width: 576px) {
    .Elmira {
        position: absolute;
        margin-top: 0;
        padding-right: 0;
        order: 1;
        width: 75%;
    }
}

.tit1 {
    color: #ffffff;
    margin-bottom: 60px;
    right: 0;
}

@media (max-width: 576px) {
    .tit1 {
        display: flex;
        flex-direction: column-reverse;
    }
}

.tit2 {
    
}

@media (max-width: 576px) {
    .tit2 {
        /* position: absolute;
        bottom: 0; */
    }
}

.title-curo {
    color: #000000;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-curo {
    font-size: 4vw;
}

@media (max-width: 1170px) {
    .title-curo {
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    .title-curo {
        font-size: 5vw;
    }
}

@media (max-width: 576px) {
    .title-curo {
        font-size: 8vw;
    }
}


.container {
    /* margin: 0 80px; */
    display: flex;
    justify-content: center;
    width: 1170px;
}

@media (max-width: 1170px) {
    .container {
        width: 100%;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
}

/* @media (max-width: 1199px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
} */

@media (max-width: 768px) {
    .grid-container {
        padding: 0 16px;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.grid-container .grid-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFF3F6;
    padding: 20px;
    /* font-size: 30px; */
    /* text-align: center; */
    line-height: 1;
    border-radius: 13px;
    border: 4px solid #6A9CFD;
    box-shadow: 3px 3px 20px 4px rgba(78, 73, 158, 0.25);
    cursor: pointer;

}

@media (max-width: 768px) {
    .grid-container .grid-item {
        /* width: 100%; */
        line-height: 1;
    }
}

.grid-container .grid-item-img {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.grid-container .grid-item-img img {
    width: 100%;
}

/* @media (max-width: 575px) {
    .grid-container .grid-item-img img {
        width: 100%;
    }
} */

.grid-container .grid-item-text {
    margin: 18px 0;
    text-align: start;
    text-decoration: none;
    color: inherit;
    font-size: 2vw;
    transition: 0.2s;
    font-weight: bold;
}

@media (max-width: 768px) {
    .grid-container .grid-item-text {
        font-size: 3vw;

    }
}

@media (max-width: 576px) {
    .grid-container .grid-item-text {
        font-size: 8vw;
    }
}

.grid-container .grid-item-text:hover {
    color: #007fad;
}

.grid-container-mini {
    margin-bottom: 18px;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 4px;
}

.grid-container-mini .grid-item-mini {
    display: flex;
    flex-direction: column;
    /* padding: 20px;
    font-size: 30px; */
    text-align: center;
    line-height: 1;
    border-radius: 5%;
    box-shadow: 1px 1px 20px 1px rgba(78, 73, 158, 0.25);

}

.grid-container-mini .grid-item-mini img {
    width: 100%;
}

.text-mini {
    display: flex;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .text-mini {
        font-size: 3vw;
    }
}

@media (max-width: 576px) {
    .text-mini {
        font-size: 5vw;
    }
}

.splide__slide img {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.splide__slide video {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
}